<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_1652.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{250,166}}</string>
                <key>offset</key>
                <string>{-2,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,166}}</string>
                <key>sourceSize</key>
                <string>{254,476}</string>
            </dict>
            <key>ID_1671.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,334}}</string>
                <key>offset</key>
                <string>{-193,666}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,15},{474,334}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16710.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,440},{118,92}}</string>
                <key>offset</key>
                <string>{-128,407}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,395},{118,92}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16711.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,560},{94,108}}</string>
                <key>offset</key>
                <string>{119,406}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{585,388},{94,108}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16712.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,768},{138,90}}</string>
                <key>offset</key>
                <string>{366,401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{810,402},{138,90}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16713.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,938},{92,100}}</string>
                <key>offset</key>
                <string>{-390,252}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,546},{92,100}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16714.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,790},{98,104}}</string>
                <key>offset</key>
                <string>{-133,253}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,543},{98,104}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16715.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,338},{170,148}}</string>
                <key>offset</key>
                <string>{121,248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,526},{170,148}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16716.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,146},{152,100}}</string>
                <key>offset</key>
                <string>{370,250}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{807,548},{152,100}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16717.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,668},{162,108}}</string>
                <key>offset</key>
                <string>{-387,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,696},{162,108}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16719.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{152,142}}</string>
                <key>offset</key>
                <string>{-134,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,680},{152,142}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1672.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,556},{144,100}}</string>
                <key>offset</key>
                <string>{249,786}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{690,12},{144,100}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{158,134}}</string>
                <key>offset</key>
                <string>{115,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{549,680},{158,134}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16723.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,670},{110,114}}</string>
                <key>offset</key>
                <string>{352,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{810,685},{110,114}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16725.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,240},{126,112}}</string>
                <key>offset</key>
                <string>{-395,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,853},{126,112}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16726.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{152,142}}</string>
                <key>offset</key>
                <string>{-195,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,832},{152,142}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16727.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,296},{140,132}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,838},{140,132}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16728.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,532},{124,120}}</string>
                <key>offset</key>
                <string>{168,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{619,840},{124,120}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16729.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1056},{102,124}}</string>
                <key>offset</key>
                <string>{343,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{805,842},{102,124}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1673.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,868},{84,88}}</string>
                <key>offset</key>
                <string>{426,804}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{897,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16730.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,996},{58,88}}</string>
                <key>offset</key>
                <string>{466,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{950,830},{58,88}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16731.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{148,122}}</string>
                <key>offset</key>
                <string>{-419,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,991},{148,122}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16732.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,248},{152,106}}</string>
                <key>offset</key>
                <string>{-258,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,991},{152,106}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16733.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,658},{138,108}}</string>
                <key>offset</key>
                <string>{-90,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,990},{138,108}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16734.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,124},{130,114}}</string>
                <key>offset</key>
                <string>{78,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,983},{130,114}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16735.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{130,120}}</string>
                <key>offset</key>
                <string>{234,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{682,985},{130,120}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16736.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,488},{178,114}}</string>
                <key>offset</key>
                <string>{415,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{839,984},{178,114}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16737.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,488},{160,118}}</string>
                <key>offset</key>
                <string>{-416,-331}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1120},{160,118}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16738.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,438},{132,116}}</string>
                <key>offset</key>
                <string>{-252,-330}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,1120},{132,116}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16739.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,650},{160,108}}</string>
                <key>offset</key>
                <string>{-74,-325}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,1119},{160,108}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1674.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,786},{106,90}}</string>
                <key>offset</key>
                <string>{245,623}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{705,180},{106,90}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16740.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,532},{124,100}}</string>
                <key>offset</key>
                <string>{80,-324}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{531,1122},{124,100}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16741.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,888},{94,106}}</string>
                <key>offset</key>
                <string>{212,-325}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{678,1120},{94,106}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16742.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,698},{166,104}}</string>
                <key>offset</key>
                <string>{376,-324}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{806,1120},{166,104}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16743.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,658},{118,102}}</string>
                <key>offset</key>
                <string>{-434,-443}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1240},{118,102}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16744.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,762},{124,94}}</string>
                <key>offset</key>
                <string>{-265,-444}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,1245},{124,94}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16745.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,654},{134,98}}</string>
                <key>offset</key>
                <string>{-117,-443}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,1242},{134,98}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16746.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1028},{92,94}}</string>
                <key>offset</key>
                <string>{8,-441}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,1242},{92,94}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16747.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,312},{126,92}}</string>
                <key>offset</key>
                <string>{143,-443}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{593,1245},{126,92}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16748.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,506},{190,96}}</string>
                <key>offset</key>
                <string>{314,-438}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{732,1238},{190,96}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16749.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1124},{58,88}}</string>
                <key>offset</key>
                <string>{474,-434}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{958,1238},{58,88}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1675.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1056},{58,86}}</string>
                <key>offset</key>
                <string>{430,653}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{914,152},{58,86}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16750.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,156},{154,92}}</string>
                <key>offset</key>
                <string>{-416,-545}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1347},{154,92}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16751.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,832},{112,86}}</string>
                <key>offset</key>
                <string>{-268,-544}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,1349},{112,86}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16752.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,356},{154,90}}</string>
                <key>offset</key>
                <string>{-126,-546}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,1349},{154,90}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16753.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,920},{106,92}}</string>
                <key>offset</key>
                <string>{56,-544}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{516,1346},{106,92}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16754.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,812},{104,92}}</string>
                <key>offset</key>
                <string>{185,-545}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{646,1347},{104,92}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16755.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,944},{102,86}}</string>
                <key>offset</key>
                <string>{307,-545}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{769,1350},{102,86}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16756.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,658},{62,86}}</string>
                <key>offset</key>
                <string>{424,-542}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{906,1347},{62,86}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16757.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,448},{156,82}}</string>
                <key>offset</key>
                <string>{-418,-636}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1443},{156,82}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16758.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,860},{116,76}}</string>
                <key>offset</key>
                <string>{-264,-637}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,1447},{116,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16759.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,762},{104,84}}</string>
                <key>offset</key>
                <string>{-127,-638}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,1444},{104,84}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1676.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,890},{114,66}}</string>
                <key>offset</key>
                <string>{186,511}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{642,304},{114,66}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16760.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1110},{78,76}}</string>
                <key>offset</key>
                <string>{-25,-636}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,1446},{78,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16761.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1112},{74,72}}</string>
                <key>offset</key>
                <string>{71,-636}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{547,1448},{74,72}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16762.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,338},{148,76}}</string>
                <key>offset</key>
                <string>{191,-634}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{630,1444},{148,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16763.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,976},{114,76}}</string>
                <key>offset</key>
                <string>{333,-634}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{789,1444},{114,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16764.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1036},{82,74}}</string>
                <key>offset</key>
                <string>{451,-632}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{923,1443},{82,74}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16765.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,428},{126,76}}</string>
                <key>offset</key>
                <string>{-440,-721}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1531},{126,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16766.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1032},{80,78}}</string>
                <key>offset</key>
                <string>{-313,-721}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,1530},{80,78}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16767.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,958},{100,76}}</string>
                <key>offset</key>
                <string>{-204,-719}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,1529},{100,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16768.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,904},{150,70}}</string>
                <key>offset</key>
                <string>{-60,-716}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,1529},{150,70}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16769.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,354},{128,72}}</string>
                <key>offset</key>
                <string>{100,-718}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,1530},{128,72}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1677.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,906},{104,68}}</string>
                <key>offset</key>
                <string>{312,510}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{773,304},{104,68}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16770.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1112},{98,74}}</string>
                <key>offset</key>
                <string>{236,-719}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{700,1530},{98,74}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16771.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1040},{98,74}}</string>
                <key>offset</key>
                <string>{349,-719}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{813,1530},{98,74}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16772.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,958},{84,76}}</string>
                <key>offset</key>
                <string>{464,-718}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{935,1528},{84,76}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16773.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,938},{116,66}}</string>
                <key>offset</key>
                <string>{-439,-798}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1613},{116,66}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16774.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1054},{106,68}}</string>
                <key>offset</key>
                <string>{-323,-797}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,1611},{106,68}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16775.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1116},{88,68}}</string>
                <key>offset</key>
                <string>{-206,-797}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,1611},{88,68}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16776.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1036},{72,66}}</string>
                <key>offset</key>
                <string>{-109,-796}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,1611},{72,66}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16777.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1124},{68,62}}</string>
                <key>offset</key>
                <string>{28,-793}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{507,1610},{68,62}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_16778.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1124},{66,62}}</string>
                <key>offset</key>
                <string>{118,-793}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{598,1610},{66,62}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1678.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,878},{116,64}}</string>
                <key>offset</key>
                <string>{439,511}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{894,305},{116,64}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>ID_1679.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,156},{158,138}}</string>
                <key>offset</key>
                <string>{-392,403}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,376},{158,138}}</string>
                <key>sourceSize</key>
                <string>{1026,1696}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{252,152}}</string>
                <key>offset</key>
                <string>{96,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,401},{252,152}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{252,152}}</string>
                <key>offset</key>
                <string>{-29,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,476},{252,152}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMap.png</string>
            <key>size</key>
            <string>{1018,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23b3062565afbe2877e9b4dad19a4ade$</string>
            <key>textureFileName</key>
            <string>worldMap.png</string>
        </dict>
    </dict>
</plist>
