<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_42810.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{65,68}}</string>
                <key>offset</key>
                <string>{-41,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,171},{65,68}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42811.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{65,68}}</string>
                <key>offset</key>
                <string>{30,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,169},{65,68}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42812.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{65,68}}</string>
                <key>offset</key>
                <string>{98,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,169},{65,68}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42813.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{65,66}}</string>
                <key>offset</key>
                <string>{165,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,171},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42814.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{65,66}}</string>
                <key>offset</key>
                <string>{-187,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,246},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42815.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{65,66}}</string>
                <key>offset</key>
                <string>{-119,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,246},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42816.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{65,66}}</string>
                <key>offset</key>
                <string>{-51,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,246},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42817.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{87,52}}</string>
                <key>offset</key>
                <string>{27,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,245},{87,52}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42818.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,72},{91,36}}</string>
                <key>offset</key>
                <string>{118,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,246},{91,36}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42819.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,69},{33,34}}</string>
                <key>offset</key>
                <string>{182,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,245},{33,34}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42820.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,97},{127,18}}</string>
                <key>offset</key>
                <string>{-153,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,322},{127,18}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_42821.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,71},{133,24}}</string>
                <key>offset</key>
                <string>{-16,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,320},{133,24}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4283.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{65,66}}</string>
                <key>offset</key>
                <string>{-112,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,98},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4284.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{65,66}}</string>
                <key>offset</key>
                <string>{-39,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,98},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4285.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{65,66}}</string>
                <key>offset</key>
                <string>{34,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,98},{65,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4286.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{67,66}}</string>
                <key>offset</key>
                <string>{106,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,98},{67,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4287.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,66}}</string>
                <key>offset</key>
                <string>{180,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,98},{67,66}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4288.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,68}}</string>
                <key>offset</key>
                <string>{-184,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,171},{67,68}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
            <key>ID_4289.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,68}}</string>
                <key>offset</key>
                <string>{-113,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,171},{67,68}}</string>
                <key>sourceSize</key>
                <string>{439,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>citybutton.png</string>
            <key>size</key>
            <string>{952,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:420a57caed3b365c49ef56aac06c3d26$</string>
            <key>textureFileName</key>
            <string>citybutton.png</string>
        </dict>
    </dict>
</plist>
