<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,27},{38,45}}</string>
                <key>offset</key>
                <string>{89,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,24},{38,45}}</string>
                <key>sourceSize</key>
                <string>{290,85}</string>
            </dict>
            <key>1L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,45}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,24},{48,45}}</string>
                <key>sourceSize</key>
                <string>{290,85}</string>
            </dict>
            <key>1L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,74},{38,45}}</string>
                <key>offset</key>
                <string>{-51,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,21},{38,45}}</string>
                <key>sourceSize</key>
                <string>{290,85}</string>
            </dict>
            <key>1L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{24,51}}</string>
                <key>offset</key>
                <string>{-110,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{24,51}}</string>
                <key>sourceSize</key>
                <string>{290,85}</string>
            </dict>
            <key>1R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{23,50}}</string>
                <key>offset</key>
                <string>{-115,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{23,50}}</string>
                <key>sourceSize</key>
                <string>{297,72}</string>
            </dict>
            <key>1R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,28},{39,44}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,20},{39,44}}</string>
                <key>sourceSize</key>
                <string>{297,72}</string>
            </dict>
            <key>1R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{47,44}}</string>
                <key>offset</key>
                <string>{40,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,23},{47,44}}</string>
                <key>sourceSize</key>
                <string>{297,72}</string>
            </dict>
            <key>1R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,84},{39,44}}</string>
                <key>offset</key>
                <string>{106,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,23},{39,44}}</string>
                <key>sourceSize</key>
                <string>{297,72}</string>
            </dict>
            <key>2L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,40},{35,52}}</string>
                <key>offset</key>
                <string>{-122,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{35,52}}</string>
                <key>sourceSize</key>
                <string>{325,86}</string>
            </dict>
            <key>2L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{21,66}}</string>
                <key>offset</key>
                <string>{-45,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,7},{21,66}}</string>
                <key>sourceSize</key>
                <string>{325,86}</string>
            </dict>
            <key>2L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,40},{41,42}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,31},{41,42}}</string>
                <key>sourceSize</key>
                <string>{325,86}</string>
            </dict>
            <key>2L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{47,42}}</string>
                <key>offset</key>
                <string>{112,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,31},{47,42}}</string>
                <key>sourceSize</key>
                <string>{325,86}</string>
            </dict>
            <key>2R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{36,52}}</string>
                <key>offset</key>
                <string>{-144,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{36,52}}</string>
                <key>sourceSize</key>
                <string>{348,82}</string>
            </dict>
            <key>2R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,96},{20,66}}</string>
                <key>offset</key>
                <string>{-51,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,7},{20,66}}</string>
                <key>sourceSize</key>
                <string>{348,82}</string>
            </dict>
            <key>2R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,74},{40,42}}</string>
                <key>offset</key>
                <string>{44,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,31},{40,42}}</string>
                <key>sourceSize</key>
                <string>{348,82}</string>
            </dict>
            <key>2R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,52},{48,42}}</string>
                <key>offset</key>
                <string>{132,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,31},{48,42}}</string>
                <key>sourceSize</key>
                <string>{348,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldiers.png</string>
            <key>size</key>
            <string>{266,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf9857ad0fbaa6a2d431cc90e16b26e$</string>
            <key>textureFileName</key>
            <string>soldiers.png</string>
        </dict>
    </dict>
</plist>
