<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,167},{62,68}}</string>
                <key>offset</key>
                <string>{234,477}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{563,129},{62,68}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,90},{82,84}}</string>
                <key>offset</key>
                <string>{314,477}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{633,121},{82,84}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,86}}</string>
                <key>offset</key>
                <string>{317,186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{634,411},{86,86}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{76,88}}</string>
                <key>offset</key>
                <string>{313,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{635,511},{76,88}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{84,84}}</string>
                <key>offset</key>
                <string>{313,477}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,121},{84,84}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{64,61}}</string>
                <key>offset</key>
                <string>{34,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,203},{64,61}}</string>
                <key>sourceSize</key>
                <string>{444,365}</string>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,176},{52,67}}</string>
                <key>offset</key>
                <string>{-77,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,290},{52,67}}</string>
                <key>sourceSize</key>
                <string>{444,365}</string>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{54,75}}</string>
                <key>offset</key>
                <string>{77,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,118},{54,75}}</string>
                <key>sourceSize</key>
                <string>{444,365}</string>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,80},{76,85}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,108},{76,85}}</string>
                <key>sourceSize</key>
                <string>{444,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_active.png</string>
            <key>size</key>
            <string>{250,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd25758226bf4b191f68caed80490637$</string>
            <key>textureFileName</key>
            <string>city_active.png</string>
        </dict>
    </dict>
</plist>
