<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,961},{84,84}}</string>
                <key>offset</key>
                <string>{-62,-261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,653},{84,84}}</string>
                <key>sourceSize</key>
                <string>{834,868}</string>
            </dict>
            <key>ID_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1081},{36,38}}</string>
                <key>offset</key>
                <string>{-139,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,551},{36,38}}</string>
                <key>sourceSize</key>
                <string>{500,776}</string>
            </dict>
            <key>ID_15322.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,930},{40,32}}</string>
                <key>offset</key>
                <string>{-193,-337}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,709},{40,32}}</string>
                <key>sourceSize</key>
                <string>{500,776}</string>
            </dict>
            <key>ID_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,960},{102,103}}</string>
                <key>offset</key>
                <string>{-169,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,2},{102,103}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1541.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,855},{102,103}}</string>
                <key>offset</key>
                <string>{-61,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,2},{102,103}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_154111.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,106},{86,19}}</string>
                <key>offset</key>
                <string>{293,179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{611,150},{86,19}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_154112.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,711},{80,15}}</string>
                <key>offset</key>
                <string>{296,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{617,520},{80,15}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1542.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{118,161}}</string>
                <key>offset</key>
                <string>{-299,252}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{118,161}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1543.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,115}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,178},{722,115}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1544.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1173},{74,7}}</string>
                <key>offset</key>
                <string>{27,231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,104},{74,7}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1545.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,846},{82,11}}</string>
                <key>offset</key>
                <string>{291,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{611,164},{82,11}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1546.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,972},{24,35}}</string>
                <key>offset</key>
                <string>{268,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{617,112},{24,35}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1547.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{722,107}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,300},{722,107}}</string>
                <key>sourceSize</key>
                <string>{722,677}</string>
            </dict>
            <key>ID_1551.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{160,104}}</string>
                <key>offset</key>
                <string>{-147,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,389},{160,104}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15510.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,930},{104,82}}</string>
                <key>offset</key>
                <string>{-174,-316}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,745},{104,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15511.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,733},{106,82}}</string>
                <key>offset</key>
                <string>{-174,-400}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,829},{106,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15512.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,196},{106,88}}</string>
                <key>offset</key>
                <string>{-69,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,487},{106,88}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15513.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1047},{104,80}}</string>
                <key>offset</key>
                <string>{-68,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,577},{104,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15514.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1286},{106,82}}</string>
                <key>offset</key>
                <string>{-69,-232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,661},{106,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15515.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,855},{104,80}}</string>
                <key>offset</key>
                <string>{-68,-315}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,745},{104,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15516.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,286},{104,88}}</string>
                <key>offset</key>
                <string>{-68,-397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,823},{104,88}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15517.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1182},{102,80}}</string>
                <key>offset</key>
                <string>{37,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,495},{102,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15518.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,846},{104,82}}</string>
                <key>offset</key>
                <string>{38,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,577},{104,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15519.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1286},{104,82}}</string>
                <key>offset</key>
                <string>{38,-232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,661},{104,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1552.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{146,102}}</string>
                <key>offset</key>
                <string>{-154,234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,185},{146,102}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15520.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,656},{104,80}}</string>
                <key>offset</key>
                <string>{38,-315}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,745},{104,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15521.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,464},{104,84}}</string>
                <key>offset</key>
                <string>{38,-401}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,829},{104,84}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{348,188}}</string>
                <key>offset</key>
                <string>{-53,376}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,188}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15523.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1182},{102,82}}</string>
                <key>offset</key>
                <string>{173,429}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15524.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,550},{104,80}}</string>
                <key>offset</key>
                <string>{172,345}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,85},{104,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15525.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1065},{106,80}}</string>
                <key>offset</key>
                <string>{147,245}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,185},{106,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15526.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1286},{106,82}}</string>
                <key>offset</key>
                <string>{147,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,287},{106,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15527.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,619},{106,112}}</string>
                <key>offset</key>
                <string>{147,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,359},{106,112}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15528.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,376},{104,86}}</string>
                <key>offset</key>
                <string>{144,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,493},{104,86}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15529.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{106,82}}</string>
                <key>offset</key>
                <string>{143,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,577},{106,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1553.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{150,102}}</string>
                <key>offset</key>
                <string>{-152,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,287},{150,102}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15530.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,762},{104,82}}</string>
                <key>offset</key>
                <string>{144,-232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,661},{104,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_15531.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,605},{104,80}}</string>
                <key>offset</key>
                <string>{144,-315}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,745},{104,80}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1554.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,471},{146,100}}</string>
                <key>offset</key>
                <string>{7,235}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,185},{146,100}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1555.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,165},{156,100}}</string>
                <key>offset</key>
                <string>{12,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,288},{156,100}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1556.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,323},{146,100}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,391},{146,100}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1557.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1182},{102,82}}</string>
                <key>offset</key>
                <string>{-175,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,493},{102,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1558.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1076},{104,82}}</string>
                <key>offset</key>
                <string>{-174,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,577},{104,82}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_1559.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,106},{106,88}}</string>
                <key>offset</key>
                <string>{-174,-229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,655},{106,88}}</string>
                <key>sourceSize</key>
                <string>{454,940}</string>
            </dict>
            <key>ID_2470.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,106},{19,25}}</string>
                <key>offset</key>
                <string>{6,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,223},{19,25}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2471.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,550},{69,53}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{69,53}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2472.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1036},{39,43}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,70},{39,43}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2473.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1153},{35,27}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,120},{35,27}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2474.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1009},{27,27}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,119},{27,27}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2475.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1153},{33,27}}</string>
                <key>offset</key>
                <string>{-18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,156},{33,27}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2476.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1121},{31,27}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,154},{31,27}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2477.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,196},{27,29}}</string>
                <key>offset</key>
                <string>{-21,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,189},{27,29}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2478.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,227},{29,29}}</string>
                <key>offset</key>
                <string>{12,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,190},{29,29}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_2479.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,728},{29,25}}</string>
                <key>offset</key>
                <string>{-22,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,226},{29,25}}</string>
                <key>sourceSize</key>
                <string>{75,271}</string>
            </dict>
            <key>ID_39233.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,733},{112,120}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>info.png</string>
            <key>size</key>
            <string>{500,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f8d279f68dd1461edebdc4773662673$</string>
            <key>textureFileName</key>
            <string>info.png</string>
        </dict>
    </dict>
</plist>
