<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wt0300.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,242},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,243},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,243},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,243},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,243},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0320.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,243},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0324.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{74,54}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,244},{74,54}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0328.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,56}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,243},{74,56}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{74,54}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,244},{74,54}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{74,54}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,244},{74,54}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>wt0340.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{74,54}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,244},{74,54}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wt.png</string>
            <key>size</key>
            <string>{838,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82600ed31a71061347139d7948fbbdef$</string>
            <key>textureFileName</key>
            <string>wt.png</string>
        </dict>
    </dict>
</plist>
