<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,124}}</string>
                <key>offset</key>
                <string>{6,-265}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,843},{374,124}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,40},{282,84}}</string>
                <key>offset</key>
                <string>{0,-397}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,995},{282,84}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{294,36}}</string>
                <key>offset</key>
                <string>{-8,-333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,955},{294,36}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>entryGame.png</string>
            <key>size</key>
            <string>{674,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc828daebe0254af25beb898e258441d$</string>
            <key>textureFileName</key>
            <string>entryGame.png</string>
        </dict>
    </dict>
</plist>
