<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{27,28}}</string>
                <key>offset</key>
                <string>{176,-373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,849},{27,28}}</string>
                <key>sourceSize</key>
                <string>{403,980}</string>
            </dict>
            <key>ID_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,32}}</string>
                <key>offset</key>
                <string>{467,-396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{935,889},{88,32}}</string>
                <key>sourceSize</key>
                <string>{1024,1018}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildingLv.png</string>
            <key>size</key>
            <string>{121,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe6050272c1ddb956d0868867687b22$</string>
            <key>textureFileName</key>
            <string>buildingLv.png</string>
        </dict>
    </dict>
</plist>
